

.titulo {
	background-size: 60px;
	color: black;
}
.tipos {
	font-family: 'Bree Serif', serif;

}
h1 {
	font-size: 80px;
	font-family: 'Kaushan Script', cursive;
	color: blue;
}

h2 {
	font-size: 50px;
	font-family: 'Bree Serif', serif;
}
h3 {
	font-size: 40px;
	font-family: 'Bree Serif', serif;
}
h4 {
	font-size: 30px;
	font-family: 'Bree Serif', serif;
}

h5 {
	font-size: 20px;
	font-family: 'Bree Serif', serif;
}

h6 {
	font-size: 20px;
	font-family: 'Bree Serif', serif;
}



section{
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	
}
dt{
	font-family: 'Bree Serif', serif;
}